{% extends 'layouts/admin-base.html.twig' %}

{% block title %} Vacation Requests {% endblock %}

{% block body %}
    <a type="button" class="btn btn-sm btn-outline-secondary" href="{{ path('vacation_request_index') }}">Back to Users list</a>
    {{ form_start(form)}}
    {{ form_row(form.dateFrom) }}
    {{ form_row(form.dateTo) }}
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    <button type="submit">Submit</button>
    {{ form_end(form) }}
{% endblock %}
