{% extends 'layouts/admin-base.html.twig' %}

{% block title %} Vacation Requests {% endblock %}

{% block body %}
    <a type="button" class="btn btn-sm btn-outline-secondary" href="{{ path('create_vacation_request') }}">Create new Vacation Request</a>

    {% for vacationRequest in vacationRequests %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <span class="h2">{{ vacationRequest.user.email }} | {{ vacationRequest.dateFrom|date("m/d/Y") }} - {{ vacationRequest.dateTo|date("m/d/Y") }}</span>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a type="button" class="btn btn-sm btn-outline-secondary" href="{{ path('show_vacation_request', { 'id': vacationRequest.id }) }}">Show</a>
                <a type="button" class="btn btn-sm btn-outline-secondary" href="{{ path('edit_vacation_request', { 'id': vacationRequest.id }) }}">Edit</a>
                <a type="button" class="btn btn-sm btn-outline-secondary" href="{{ path('remove_vacation_request', { 'id': vacationRequest.id }) }}">Delete</a>
                {% if is_granted('ROLE_SUPERVISOR') %}
                    <a type="button" class="btn btn-sm btn-outline-secondary" href="{{ path('accept_vacation_request', { 'id': vacationRequest.id }) }}">Accept</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}

    {% if vacationRequests|length < 1 %}
        <p> No requests found. </p>
    {% endif %}
{% endblock %}
