{% extends 'layouts/admin-base.html.twig' %}

{% block title %} Vartotojų kūrimas {% endblock %}

{% block body %}
    {{ form_start(form)}}
    {{ form_row(form.firstName) }}
    {{ form_row(form.lastName) }}
    {{ form_row(form.username) }}
    {{ form_row(form.phoneNum) }}
    {{ form_row(form.email) }}
    {{ form_row(form.plainPassword) }}
    {{ form_row(form.roles) }}
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    <button type="submit">Sukurti</button>
    {{ form_end(form) }}
{% endblock %}