{% extends 'layouts/admin-base.html.twig' %}

{% block title %} User notification settings {% endblock %}

{% block body %}
    {{ form_start(form)}}
    {{ form_row(form.privacy) }}
    {{ form_row(form.marketing) }}
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    <button type="submit">Submit</button>
    {{ form_end(form) }}
{% endblock %}
