{% extends 'layouts/base.html.twig' %}

{% block title %} LOL accounts club {% endblock %}

{% block body %}
    {% include('inc/sidebar-mobile.html.twig') %}
    {% include('inc/sidebar.html.twig') %}
    <div class="col-lg-9 p-0">
        {% include('account/inc/announcement.html.twig') %}
        <div class="px-5 mx-5 py-4">
            {% include('inc/flash-messages.html.twig') %}
            <div class="container mt-4">
                <h4 class="m-title text-uppercase">League of Legends accounts</h4>
                <p class="m-subtitle">Choose your package</p>

                <div class="products" data-products-url="{{ getProductsAjaxUrl }}" data-region-name="{{ defaultRegion }}">
                    <div class="row pb-5">
                        {% for product in products %}
                        <div class="col-md-6 mt-3">
                            <div class="product-photo">
                                <div class="hovered-photo-bg">
                                    <p>Buy now</p>
                                </div>
                                <img class="img-fluid"
                                     src="{{ asset(asset('assets/images/products/2.png')) }}"
                                     width="100%">
                            </div>
                            <div class="row product-details">
                                <div class="col-md-6">
                                    <h4 class="mb-0 title">{{ product.name }}</h4>
                                    <h4 class="mb-0 stock">In stock: <span>12</span></h4>
                                </div>
                                <div class="col-md-6">
                                    <h1 class="mb-0 text-right price">{{ product.price }}$</h1>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
