{% extends 'layouts/admin-base.html.twig' %}

{% block title %} Users {% endblock %}

{% block body %}
    {{ form_start(form)}}
    {{ form_row(form.username) }}
    {{ form_row(form.email) }}
    {{ form_row(form.roles) }}
    {{ form_row(form.plainPassword) }}
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    <button type="submit">Submit</button>
    {{ form_end(form) }}
{% endblock %}