{% extends 'layouts/base.html.twig' %}

{% block title %}Registracija{% endblock %}

{% block body %}
    <h1>Registracija</h1>

    {{ form_start(registrationForm) }}
    {{ form_row(registrationForm.firstName) }}
    {{ form_row(registrationForm.lastName) }}
    {{ form_row(registrationForm.username) }}
    {{ form_row(registrationForm.phoneNum) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.plainPassword) }}
    {{ form_row(registrationForm.roles) }}
    <button type="submit">Registruotis</button>
    {{ form_end(registrationForm) }}
{% endblock %}