{% extends 'layouts/admin-base.html.twig' %}

{% block title %} Users {% endblock %}

{% block body %}
    <a type="button" class="btn btn-sm btn-outline-secondary" href="{{ path('order_index') }}">Back to Order list</a>
    {{ form_start(form)}}
    {{ form_row(form.emailNotification) }}
    {{ form_row(form.number) }}
    {{ form_row(form.totalPrice) }}
    {{ form_row(form.additionalInfo) }}
    {{ form_row(form.status) }}
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    <button type="submit">Submit</button>
    {{ form_end(form) }}
{% endblock %}
