<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon" href="{{ asset('assets/img/favicon.png') }}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('assets/css/admin-style.css') }}">


    <meta charset="utf-8">
    <title></title>

    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ asset('assets/js/popper.min.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
    <script src="{{ asset('assets/js/script.js') }}"></script>
    <link rel="icon" type="image/png" href="{{ asset('assets/images/icon.png') }}">


    {% block stylesheets %}{% endblock %}
</head>
<body>
    {% include('inc/navbar.html.twig') %}
    <div class="row h-100">
        {% block body %}{% endblock %}
    </div>

    {% include('inc/modals/modal-faq.html.twig') %}
    {% include('inc/modals/modal-thankyou.html.twig') %}
    {% include('inc/modals/modal-checkout.html.twig') %}

    {% for message in app.flashes('thank_you') %}
        <script>$('#thankyouModal').modal('show');</script>
    {% endfor %}

    {% block javascripts %}{% endblock %}

</body>
</html>
