
{% block body %}

    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                {% if is_granted('ROLE_ADMIN') %}
                    <th>Vartotojo firstName</th>
                    <th>Vardas</th>
                    <th>Pavardė</th>
                    <th>Elektroninis adresas</th>
                    <th>Telefono numeris</th>
                    <th>Nerodoma šiems asmenims</th>
                {% endif %}
                {% if is_granted('ROLE_EMPLOYER') %}
                    <th>Vardas</th>
                    <th>Pavardė</th>
                    <th>Elektroninis adresas</th>
                    <th>Telefono numeris</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            <tr>
                {% if is_granted('ROLE_ADMIN') %}
                    <td>{{ resume.user.username }}</td>
                    <td>{{ resume.user.firstName }}</td>
                    <td>{{ resume.user.lastName }}</td>
                    <td>{{ resume.user.email }}</td>
                    <td>{{ resume.user.phoneNum }}</td>
                    <td>{{ resume.usersToHide }}</td>
                {% endif %}
                {% if is_granted('ROLE_EMPLOYER') %}
                    <td>{{ resume.user.firstName }}</td>
                    <td>{{ resume.user.lastName }}</td>
                    <td>{{ resume.user.email }}</td>
                    <td>{{ resume.user.phoneNum }}</td>
                {% endif %}
                </tr>
            </tbody>
            <thead>
            <tr>
                <th>Sritis</th>
                <th>Išsilavinimas</th>
                <th>Kalbos</th>
                <th>Atlyginimas</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ resume.area }}</td>
                <td>{{ resume.education }}</td>
                <td>{{ resume.kalbosStr() }}</td>
                <td>{{ resume.salary }}</td>
            </tr>
            </tbody>
            <thead>
            <tr>
                <th>Patirtis</th>
                <th>Apie</th>
                <th>Sukūrta</th>
                <th>Atnaujinta</th>
                {% if is_granted('ROLE_EMPLOYEE') %}
                    <th>Nerodoma šiems asmenims</th>
                {% endif %}
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ resume.experience }}</td>
                <td>{{ resume.aboutYou }}</td>
                <td>{{ resume.createdAt|date("m/d/Y") }}</td>
                <td>{{ resume.updatedAt|date("m/d/Y") }}</td>
                {% if is_granted('ROLE_EMPLOYEE') %}
                {% endif %}
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
