{% extends 'layouts/base.html.twig' %}

{% block title %} CV paraiškos {% endblock %}

{% block body %}
    {% if is_granted('ROLE_ADMIN') %}
        {% for resume in resumes %}
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                    <span class="h2">{{ resume.area}} - sukūrė: {{ resume.user.firstName }} {{ resume.createdAt|date("m/d/Y") }}</span>
                    <div class="btn-toolbar mb-2 mb-md-0">
                        <div class="btn-group mr-2">
                            <a type="button" class="btn btn-sm btn-outline-secondary" href="{{ path('show_resume', { 'id': resume.id }) }}">Rodyti</a>
                            <a type="button" class="btn btn-sm btn-outline-secondary" href="{{ path('edit_resume', { 'id': resume.id }) }}">Redaguoti</a>
                            <a type="button" class="btn btn-sm btn-outline-secondary" href="{{ path('remove_resume', { 'id': resume.id }) }}">Pašalinti</a>
                        </div>
                    </div>
                </div>
        {% endfor %}
    {% endif %}
    {% if is_granted('ROLE_EMPLOYEE') %}
        <a type="button" class="btn btn-sm btn-outline-secondary" href="{{ path('create_resume') }}">Create new Resume</a>
        {% for resume in resumes %}
            {% if resume.user.id == app.user.id %}
                {% if resume.id == app.user.mainNum %}
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <span class="h1">Pagrindinis</span>
                        <span class="h2">{{ resume.area}} - sukurta: {{ resume.createdAt|date("m/d/Y") }}</span>
                        <div class="btn-toolbar mb-2 mb-md-0">
                            <div class="btn-group mr-2">
                                <a type="button" class="btn btn-sm btn-outline-secondary" href="{{ path('show_resume', { 'id': resume.id }) }}">Rodyti</a>
                                <a type="button" class="btn btn-sm btn-outline-secondary" href="{{ path('edit_resume', { 'id': resume.id }) }}">Redaguoti</a>
                                <a type="button" class="btn btn-sm btn-outline-secondary" href="{{ path('remove_resume', { 'id': resume.id }) }}">Pašalinti</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        {% endfor %}
        {% for resume in resumes %}
            {% if resume.user.id == app.user.id %}
                {% if resume.id != app.user.mainNum %}
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <span class="h2">Senieji</span>
                <span class="h2">{{ resume.area}} - sukurta: {{ resume.createdAt|date("m/d/Y") }}</span>
                <div class="btn-toolbar mb-2 mb-md-0">
                    <div class="btn-group mr-2">
                        <a type="button" class="btn btn-sm btn-outline-secondary" href="{{ path('show_resume', { 'id': resume.id }) }}">Rodyti</a>
                        <a type="button" class="btn btn-sm btn-outline-secondary" href="{{ path('edit_resume', { 'id': resume.id }) }}">Redaguoti</a>
                        <a type="button" class="btn btn-sm btn-outline-secondary" href="{{ path('remove_resume', { 'id': resume.id }) }}">Pašalinti</a>
                    </div>
                </div>
            </div>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% endif %}


    {% if resumes|length < 1 %}
        <p> CV nerasta. </p>
    {% endif %}
{% endblock %}
