{% extends 'layouts/base.html.twig' %}

{% block title %} Paieškos sistema {% endblock %}

{% block body %}
    <p> Vieno CV peržiūros kaina 10 kreditų </p>
    {{ form_start(form, {'method': 'GET'}) }}
    {{ form_row(form.area) }}
    <button type="submit">Ieškoti</button>
    {{ form_end(form) }}


    {% for resume in resumes %}

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <span class="h2">{{ resume.area}} - sukūrė: {{ resume.user.firstName }} {{ resume.createdAt|date("m/d/Y") }}</span>
            <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group mr-2">
                    <a type="button" class="btn btn-sm btn-outline-secondary" href="{{ path('showForEmployer_resume', { 'id': resume.id }) }}">Rodyti</a>
                </div>
            </div>
        </div>
    {% endfor %}

    {% if resumes|length < 1 %}
        <p> CV nerasta </p>
    {% endif %}

    <div class="navigation">
        {{ knp_pagination_render(resumes) }}
    </div>
{% endblock %}
