{% extends 'layouts/admin-base.html.twig' %}

{% block title %} Coupons {% endblock %}

{% block body %}
    <a type="button" class="btn btn-sm btn-outline-secondary" href="{{ path('create_coupon') }}">Create new Coupon</a>
    <form action="{{ path('filter_coupon') }}">
        <label for="filter">Filter By Date</label>
        <input type="date" name="filter"><br><br>
        <input type="submit" value="Submit">
    </form>


    {% for coupon in coupons %}
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <span class="h2">{{ coupon.getName }}</span>
            <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group mr-2">
                    <a type="button" class="btn btn-sm btn-outline-secondary" href="{{ path('show_coupon', { 'id': coupon.id }) }}">Show</a>
                    <a type="button" class="btn btn-sm btn-outline-secondary" href="{{ path('edit_coupon', { 'id': coupon.id }) }}">Edit</a>
                    <a type="button" class="btn btn-sm btn-outline-secondary" href="{{ path('remove_coupon', { 'id': coupon.id }) }}">Delete</a>
                    {% if is_granted('ROLE_SUPERADMIN') %}
                        <a type="button" class="btn btn-sm btn-outline-secondary" href="{{ path('activate_coupon', { 'id': coupon.id }) }}">Activate Coupon</a>
                    {% endif %}

                </div>
            </div>
        </div>
    {% endfor %}

    {% if coupons|length < 1 %}
        <p> Nothing found. </p>
    {% endif %}
{% endblock %}
