{% extends 'layouts/admin-base.html.twig' %}

{% block title %} Account {% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="card card-primary" style="margin: auto; min-width: 50%;">
                <div class="card-header">
                    <h3 class="card-title">Account</h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <strong>Username</strong>
                    <p class="text-muted">
                        {{ account.username }}
                    </p>
                    <hr>

                    <strong>Password</strong>
                    <p class="text-muted">
                        ******
                    </p>
                    <hr>

                    <strong>Username</strong>
                    <p class="text-muted">
                        {{ account.username }}
                    </p>
                    <hr>

                    <strong>Status</strong>
                    <p class="text-muted">
                        {% if account.sold %}
                            <span class="badge bg-success">SOLD</span>
                        {% else %}
                            <span class="badge bg-warning">IN STOCK</span>
                        {% endif %}
                    </p>
                    <hr>

                    <strong>Product</strong>
                    <p class="text-muted">
                        {{ account.product.name }}
                    </p>
                    <hr>

                    <strong>Created at</strong>
                    <p class="text-muted">
                        {{ account.createdAt|date("Y-d-m") }}
                    </p>
                    <hr>

                    <strong>Updated at</strong>
                    <p class="text-muted">
                        {{ account.updatedAt|date("Y-d-m") }}
                    </p>
                    <hr>
                </div>
                <!-- /.card-body -->
            </div>
        </div>
    </div>
{% endblock %}
