{% extends 'layouts/admin-base.html.twig' %}

{% block title %} Orders {% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Orders</h3>
            <div class="card-tools">
                <div class="input-group input-group-sm">
                    {{ form_start(form, {'method': 'GET'}) }}
                    {{ form_label(form.name) }}
                    {{ form_widget(form.name) }}
                    <button type="submit" class="btn btn-default" style="float:right;"><i class="fas fa-search"></i></button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th style="width: 10px">#</th>
                    <th>Order</th>
                    <th>Status</th>
                    <th>Order ID</th>
                    <th>Product</th>
                    <th>Quantity</th>
                    <th>Payer Email</th>
                    <th>Status</th>
                    <th>Price</th>
                    <th>Method</th>
                </tr>
                </thead>
                <tbody>
                {% for order in orders %}
                <tr>
                    <td>{{ loop.index }}.</td>
                    <td>
                        {#<a href="{{ path('show_order', { 'id': order.id }) }}">#}
                            {{ order.name }}
                        {#</a>#}
                    </td>
                    <td>
                        {% if order.sold %}
                            <span class="badge bg-success">SOLD</span>
                        {% else %}
                            <span class="badge bg-warning">IN STOCK</span>
                        {% endif %}
                    </td>
                    <td>
                        {{ order.orderId }}
                    </td>
                    <td>
                        {{ order.product.name }}
                    </td>
                    <td>
                        {{ order.quantity }}
                    </td>
                    <td>
                        {{ order.payerEmail }}
                    </td>
                    <td>
                        {{ order.status }}
                    </td>
                    <td>
                        {{ order.price }}
                    </td>
                    <td>
                        {{ order.method }}
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <!-- /.card-body -->
        <div class="card-footer clearfix">
            {{ knp_pagination_render(orders) }}
        </div>
    </div>
{% endblock %}
