{% extends 'layouts/admin-base.html.twig' %}

{% block title %} Departments {% endblock %}

{% block body %}
    <a type="button" class="btn btn-sm btn-outline-secondary" href="{{ path('create_department') }}">Create new Department</a>

    {% for department in departments %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <span class="h2">{{ department.name }}</span>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a type="button" class="btn btn-sm btn-outline-secondary" href="{{ path('show_department', { 'id': department.id }) }}">Show</a>
                <a type="button" class="btn btn-sm btn-outline-secondary" href="{{ path('edit_department', { 'id': department.id }) }}">Edit</a>
                <a type="button" class="btn btn-sm btn-outline-secondary" href="{{ path('remove_department', { 'id': department.id }) }}">Delete</a>
            </div>
        </div>
    </div>
    {% endfor %}

    {% if departments|length < 1 %}
        <p> Nothing found. </p>
    {% endif %}
{% endblock %}
