{% extends 'layouts/admin-base.html.twig' %}

{% block title %} Reklamos {% endblock %}

{% block body %}
    {{ form_start(form)}}
    {{ form_row(form.title) }}
    {{ form_row(form.content) }}
    {{ form_row(form.ipFrom) }}
    {{ form_row(form.ipTo) }}
    {{ form_row(form.dateFrom) }}
    {{ form_row(form.dateTo) }}
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    <button type="submit">Pateikti</button>
    {{ form_end(form) }}
{% endblock %}
