{% extends 'layouts/admin-base.html.twig' %}

{% block title %} Ads {% endblock %}

{% block body %}
    <a type="button" class="btn btn-sm btn-outline-secondary" href="{{ path('create_ad') }}">Create new Ad</a>

    {% for ad in ads %}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
    {% if ad.confirmed == true %}
        style="background: beige;"
    {% endif %}
    >
        <span class="h2">{{ ad.title }}</span>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <a type="button" class="btn btn-sm btn-outline-secondary" href="{{ path('show_ad', { 'id': ad.id }) }}">Show</a>
                <a type="button" class="btn btn-sm btn-outline-secondary" href="{{ path('edit_ad', { 'id': ad.id }) }}">Edit</a>
                <a type="button" class="btn btn-sm btn-outline-secondary" href="{{ path('remove_ad', { 'id': ad.id }) }}">Delete</a>
                {% if is_granted('ROLE_ADMIN') %}
                    <a type="button" class="btn btn-sm btn-outline-secondary" href="{{ path('confirm_ad', { 'id': ad.id }) }}">Confirm</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}

    {% if ads|length < 1 %}
        <p> No ads found. </p>
    {% endif %}
{% endblock %}
