{% extends 'layouts/admin-base.html.twig' %}

{% block title %} Ads {% endblock %}

{% block body %}
    <a type="button" class="btn btn-sm btn-outline-secondary" href="{{ path('ad_index') }}">Back to list</a>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>Pavadinimas</th>
                <th>Struktūra</th>
                <th>IP adreso pradžia</th>
                <th>IP adreso pabaiga</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ ad.title }}</td>
                <td>{{ ad.content }}</td>
                <td>{{ ad.ipFrom }}</td>
                <td>{{ ad.ipTo }}</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
