{% extends 'layouts/admin-base.html.twig' %}

{% block title %} Ads {% endblock %}

{% block body %}
    <a type="button" class="btn btn-sm btn-outline-secondary" href="{{ path('ad_index') }}">Back to Ads list</a>
    {{ form_start(form)}}
    {{ form_row(form.title) }}
    {{ form_row(form.info) }}
    {{ form_row(form.webPage) }}
    {{ form_row(form.imgSource) }}
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    <button type="submit">Submit</button>
    {{ form_end(form) }}
{% endblock %}
