{% extends 'layouts/admin-base.html.twig' %}

{% block title %} Orders {% endblock %}

{% block body %}
    {{ form_start(form)}}
    {{ form_row(form.customer) }}
    {{ form_row(form.craftsman) }}
    {{ form_row(form.content) }}
    {{ form_row(form.dateFrom) }}
    {{ form_row(form.dateTo) }}
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    <button type="submit">Submit</button>
    {{ form_end(form) }}
{% endblock %}
