{% extends 'layouts/admin-base.html.twig' %}

{% block title %} Užsakymas {% endblock %}

{% block body %}
    <a type="button" class="btn btn-sm btn-outline-secondary" href="{{ path('order_index') }}">Grįžti į sąrašą</a>
    {% if is_granted('ROLE_CRAFTSMAN') and order.craftsman is null %}
        <a type="button" class="btn btn-sm btn-outline-secondary" href="{{ path('accept_order', { 'id': order.id }) }}">Priimti</a>
    {% endif %}
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>Užsakovas</th>
                <th>Meistras</th>
                <th>Komentaras</th>
                <th>Užbaigta</th>
                <th>Nuo</th>
                <th>Iki</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                {% if order.customer is not null %}
                    <td>{{ order.customer.email }}</td>
                {% else %}
                    <td>Nera</td>
                {% endif %}
                {% if order.craftsman is not null %}
                    <td>{{ order.craftsman.email }}</td>
                {% else %}
                    <td>Nera</td>
                {% endif %}
                <td>{{ order.content }}</td>
                <td>{{ order.completed ? 'Taip' : 'Ne' }}</td>
                <td>{{ order.dateFrom|date("m/d/Y") }}</td>
                <td>{{ order.dateTo|date("m/d/Y") }}</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
