{% extends 'layouts/admin-base.html.twig' %}

{% block title %} Items {% endblock %}

{% block body %}
    <a type="button" class="btn btn-sm btn-outline-secondary" href="{{ path('item_index') }}">Back to Items list</a>
    {{ form_start(form)}}
    {{ form_row(form.name) }}
    {{ form_row(form.manufacturer) }}
    {{ form_row(form.price) }}
    {{ form_row(form.model) }}
    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    <button type="submit">Submit</button>
    {{ form_end(form) }}
{% endblock %}
