<nav id="navbar" class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
    <div class="container">
        <a href="{{ path('app_homepage') }}" class="navbar-brand">User Module</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-nav">
            <span class="navbar-toggle-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mobile-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="{{ path('app_homepage') }}" class="nav-link">Home</a>
                </li>
                {% if is_granted('ROLE_USER') %}
                    <li class="nav-item">
                        <a href="{{ path('admin_home') }}" class= "nav-link">Control panel</a>
                    </li>
                {% endif %}
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <li class="nav-item">
                        <a href="{{ path('app_logout') }}" class="nav-link">Log out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{{ path('app_login') }}" class="nav-link">Log in</a>
                    </li>
                {% endif %}
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') == false %}
                    <li class="nav-item">
                        <a href="{{ path('app_register') }}" class="nav-link">Register</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
