<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="{{ path('user_index') }}">
                    Users
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{{ path('settings_user') }}">
                    Notification settings
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{{ path('category_index') }}">
                    Categories
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{{ path('product_index') }}">
                    Products
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{{ path('order_index') }}">
                    Orders
                </a>
            </li>
        </ul>

    </div>
</nav>
